* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hamburger {
  width: 8%;
  margin-left: 3%;
  margin-top: 3%;
}

.home-page {
  display: flex;
  flex-direction: column;
  background-image: url(images/main-bg.png);
  background-size: 100%;
}

h1 {
  font-family: 'Lato', sans-serif;
  margin: 0;
  font-size: 37px;
  color: #ec5242;
  margin-left: 3%;
}

h3 {
  font-family: 'Lato', sans-serif;
  margin-bottom: 0;
  margin-top: 5%;
  color: #ec5242;
  margin-left: 3%;
}

p {
  display: flex;
  font-family: 'Lato', sans-serif;
  margin-bottom: 0;
  border: 2px solid white;
  text-align: center;
  height: 135px;
  align-items: center;
  margin-top: 20px;
  background-color: #f7f7f7;
}

h2 {
  font-family: 'Lato', sans-serif;
  margin-bottom: 0;
  font-size: 26px;
  font-weight: 100;
  margin-top: 15px;
  margin-left: 3%;
}

h4 {
  font-family: 'Lato', sans-serif;
  margin-top: 6px;
  font-weight: 100;
  margin-left: 3%;
  margin-bottom: 20%;
}

#program {
  background-image: url('images/patter-bg.png');
  color: white;
  padding: 3%;
  display: grid;
  grid-auto-columns: 1fr;
  justify-items: center;
}

.program-title {
  color: white;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 20px;
}

#program p {
  background-color: none;
  background: 0;
  border: 0;
  height: 0;
  text-align: unset;
}

.line-small {
  height: 1px;
  width: 34px;
  background-color: #ec5242;
  margin-bottom: 20px;
}

.program-box {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.lecture {
  display: grid;
  grid-template-columns: 40% 54%;
  justify-content: space-between;
  background-color: rgba(136, 136, 136, 0.3);
  padding: 20px;
  margin-bottom: 15px;
}

.program-left-text {
  font-family: 'Lato', sans-serif;
  display: flex;
  color: #ec5242;
  gap: 10px;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
}

.icons {
  width: 40px;
  margin-right: 8px;
}

.program-button {
  font-family: 'Lato', sans-serif;
  background-color: #ec5242;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  height: 80px;
  margin-bottom: 35px;
  padding: 30px 30px;
  text-align: center;
  margin-top: 35px;
  cursor: pointer;
}

.chess-speaker1 {
  width: 40%;
  height: 40%;
}

.speaker-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}

.text-speaker h3 {
  color: black;
  margin-left: 0;
}

.text-speaker p {
  background-color: none;
  background: 0;
  border: 0;
  text-align: unset;
  height: 0;
  margin-top: 10px;
}

.second-p {
  margin-top: 55px;
  color: black;
}

.text-speaker {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #ec5242;
}

.speaker-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.speakerLine {
  height: 1px;
  width: 34px;
  background-color: #ec5242;
  margin-bottom: 40px;
  margin-left: 46%;
  margin-top: 5%;
}

.speakers-title {
  text-align: center;
  color: black;
  font-size: 25px;
  margin-top: 45px;
}
