* {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.hamburger {
  width: 8%;
  margin-top: 3%;
}

.home-page {
  display: flex;
  flex-direction: column;
  background-image: url(images/main-bg.png);
  background-size: 100%;
  padding: 20px 5%;
}

h1 {
  margin: 0;
  font-size: 37px;
  color: #ec5242;
}

h3 {
  margin-bottom: 0;
  margin-top: 5%;
  color: #ec5242;
}

p {
  display: flex;
  margin-bottom: 0;
  border: 2px solid white;
  text-align: center;
  height: 135px;
  align-items: center;
  margin-top: 20px;
  background-color: #f7f7f7;
}

h2 {
  margin-bottom: 0;
  font-size: 26px;
  font-weight: 100;
  margin-top: 15px;
}

h4 {
  margin-top: 6px;
  font-weight: 100;
  margin-bottom: 8%;
}

#program {
  background-image: url('images/patter-bg.png');
  color: white;
  padding: 3%;
  display: grid;
  grid-auto-columns: 1fr;
  justify-items: center;
}

.program-title {
  color: white;
  text-align: center;
  padding-top: 24px;
  padding-bottom: 20px;
}

#program p {
  background-color: none;
  background: 0;
  border: 0;
  height: 0;
  text-align: unset;
}

.line-small {
  height: 1px;
  width: 34px;
  background-color: #ec5242;
  margin-bottom: 20px;
}

.program-box {
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.lecture {
  display: grid;
  grid-template-columns: 40% 54%;
  justify-content: space-between;
  background-color: rgba(136, 136, 136, 0.3);
  padding: 20px;
  margin-bottom: 15px;
}

.program-left-text {
  display: flex;
  color: #ec5242;
  gap: 10px;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
}

.icons {
  width: 40px;
  margin-right: 8px;
}

.program-button {
  background-color: #ec5242;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  height: 80px;
  margin-bottom: 35px;
  padding: 30px 30px;
  text-align: center;
  margin-top: 35px;
  cursor: pointer;
}

.chess-speaker1 {
  width: 40%;
  height: 40%;
}

.speaker-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}

.text-speaker h3 {
  color: black;
  margin-left: 0;
}

.text-speaker p {
  background-color: none;
  background: 0;
  border: 0;
  text-align: unset;
  height: 0;
  margin-top: 10px;
}

.second-p {
  margin-top: 55px;
  color: black;
}

.text-speaker {
  font-size: 13px;
  color: #ec5242;
}

.speaker-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.speakerLine {
  height: 1px;
  width: 34px;
  background-color: #ec5242;
  margin-bottom: 40px;
  margin-left: 46%;
  margin-top: 5%;
}

.speakers-title {
  text-align: center;
  color: black;
  font-size: 25px;
  margin-top: 45px;
}

.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-repeat: no-repeat;
  padding: 20px 5%;
  background-position-y: 17%;
  background-origin: content-box;
  background-color: #f7f7f7;
  margin-top: 5%;
  background-image: url(images/about-bg.png);
}

.about h3 {
  text-align: center;
  padding-top: 15%;
}

.about h1 {
  text-align: center;
}

.about p {
  border: 1px solid;
  background-color: white;
  margin-top: 30px;
}

.text-mail {
  text-align: center;
  margin-top: 8%;
}

.about-mail {
  font-weight: 900;
  margin-top: 2%;
  text-decoration: underline;
  padding-bottom: 30px;
}

.about-2 {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 30px 5%;
}

.logo-box {
  display: flex;
  background-color: #fff;
  border: 1px solid rgb(218, 218, 218);
  padding: 20px;
  justify-content: center;
}

.chess-logo {
  width: 50%;
}

.about-2 h1 {
  font-size: 25px;
  color: black;
}

.about-2 .line-small {
  margin-left: 45%;
  margin-top: 5%;
}

.about-2 h4 {
  margin-bottom: 40px;
  font-size: 15px;
}

hr {
  margin-top: 40px;
  height: 2px;
  background-color: lightgray;
  border: none;
  margin-inline: -19px;
}

.about-3 {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  padding: 30px 5%;
}

.about-3 h1 {
  font-size: 25px;
  color: black;
}

.about-3 .line-small {
  margin-left: 45%;
  margin-top: 5%;
}

.about-3 h4 {
  margin-bottom: 40px;
  font-size: 15px;
}

.picture-1 {
  background-image: url(images/conference-1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.conf-cont1 .conf-text1 {
  padding-bottom: 10px;
  font-size: 50px;
  padding-top: 15%;
  color: #fff;
}

.conf-cont1 .conf-text2 {
  color: #fff;
  font-size: 19px;
  padding-bottom: 15%;
}

.picture-2 {
  background-image: url(images/conference-2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.sponsors {
  background-color: #3b3e47;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsors h1 {
  padding-top: 30px;
    color: #fff;
    font-weight: 300;
    padding-bottom: 10px;
}

.sponsor-names {
  justify-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 11px;
  justify-content: space-evenly;
  align-items: baseline;
  margin-bottom: 50px;
}

.sponsor-names img {
  width: 120px;
    padding-bottom: 10px;
}

footer {
  display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 15px;
    font-weight: 400;
    color: #3b3e47;
}

footer img {
  width: 35%;
  margin-left: 40%;
}

.footer-text {
  width: 100vh;
}